body{
	font-family: Arial ,"sans-serif";
}
img{
	max-width: 100%;
}
header.row, footer.row, section.row, header h1{
	margin: 0;
}
header.row, footer{
	padding: 10px 0;
	min-height: 60px;
}
header h1, .jumbotron h1, a.btn-primary, a.btn-primary:hover, #work h4, #contact h3{
	font-weight: bold;
}
header h1{
	font-size: 21px;
	padding: 0;
}
header a{
	color: #2d3950;
}
header span, .jumbotron h1{
	display: inline-block;
}
header span{
	margin-left: 10px;
}
.jumbotron, .arrow, .arrow:hover, #contact{
	color: #fff;
}
.jumbotron{
	min-height: 500px;
	position: relative;
	margin-bottom: 0;
}
.jumbotron h1{
	font-size: 100px;
	text-transform: uppercase;
	padding: 20px 60px;
	border-bottom: 1px solid #15a4fa;
	letter-spacing: 2px;
	margin-bottom: 20px;
}
a.btn-primary, a.btn-primary:hover{
	background: transparent;
	border: 1px solid #15a4fa;
	border-radius: 0;
    margin: 25px 0 20px;
    padding: 10px 30px;
}
.arrow{
	display: block;
	margin-top: 90px;
}
#portfolio, #about{
	background: #f6f9f9;
}
#portfolio, #about, #work, #contact{
	padding: 40px;
}
#about{
	min-height: 250px;
}
#about h2{
	margin: 10px 0;
}
#about p{
	margin: 20px 0;
	font-size: 17px;
}
#about p, #portfolio p{
	color: #999;
}
#portfolio .img-wrapper{
	width: 96%;
	margin: 5px auto;
}
#portfolio .img-wrapper img{
	height: 200px;
}
#contact input[type="text"], #contact input[type="email"], #contact textarea{
	display: block;
	background: transparent;
	border: 1px solid #fff;
	margin: 20px auto;
    width: 60%;
}
#contact input[type="text"], #contact input[type="email"]{
	height: 40px;
}
#contact h3{
	font-size: 32px;
}
#contact a.btn{
	margin: 0;
}
#contact div.col-sm-10 div.col-sm-6{
	position :relative;
}
#contact div.col-sm-10 div.col-sm-6:first-child{
	left: 47px;
}
#contact div.col-sm-10 div.col-sm-6:last-child{
	right: 26px;
}
#contact .col-sm-6 span>span{
	margin-left: 5px;
}
@media only screen and (min-width:320px) and (max-width : 767px) {
 	.jumbotron h1{
 		font-size: 50px;
 	}
 	#contact input[type="text"], #contact input[type="email"], #contact textarea{
 		width: 100%;
 	}
 	#contact div.col-sm-10 div.col-sm-6:first-child{
 		left: 0;
 	}
 	#contact div.col-sm-10 div.col-sm-6:last-child{
 		right: 0;
 	}
 	#contact a.btn{
		margin-top: 10px;
	}
 	footer{
 	text-align: center;
 	}
 	footer .col-sm-6{
 		margin-bottom: 5px;
 	}
 }

